#=include 'header/_header.html'

<!-- BEGIN CONTENT -->

<main class="content">

	<div class="offer-block">
		<div class="wrapper">
			<div class="title-block clearfix">
				<div class="title-block__offer">
					<h2 class="title-block__title">МЫ ПРЕДЛАГАЕМ</h2>
					<span class="title-block__subtitle">продукцию по ценам ниже заводских</span>
				</div>
				<a href="#" class="open-link open-link_offer">ОТКРЫТЬ КАТАЛОГ</a>
			</div>
		</div>
		<div class="offer-list-wrapper">
			<ul class="offer-list clearfix">
				<li class="offer-list__item">
					<div class="offer-item">
						<div class="offer-list-img">
							<div class="offer-list-img__table">
								<figure class="offer-list-img__wrapper">
									<img src="img/offer1.jpg" alt="Offer picture" class="offer-list-img__img">
								</figure>
							</div>
						</div>
						<div class="offer-list-descr">
							<span class="offer-list-descr__inner">Проволока общего назначения</span>
						</div>
						<a href="#" class="btn btn_radius btn-grad btn-offer">
							<span class="btn-offer__text">1234 р/м</span>
							<span class="btn-offer__more">СМОТРЕТЬ</span>
						</a>
					</div>
				</li>
				<li class="offer-list__item">
					<div class="offer-item">
						<div class="offer-list-img">
							<div class="offer-list-img__table">
								<figure class="offer-list-img__wrapper">
									<img src="img/offer2.jpg" alt="Offer picture" class="offer-list-img__img">
								</figure>
							</div>
						</div>
						<div class="offer-list-descr">
							<span class="offer-list-descr__inner">Пружинная проволока</span>
						</div>
						<a href="#" class="btn btn_radius btn-grad btn-offer">
							<span class="btn-offer__text">1234 р/м</span>
							<span class="btn-offer__more">СМОТРЕТЬ</span>
						</a>
					</div>
				</li>
				<li class="offer-list__item">
					<div class="offer-item">
						<div class="offer-list-img">
							<div class="offer-list-img__table">
								<figure class="offer-list-img__wrapper">
									<img src="img/offer3.jpg" alt="Offer picture" class="offer-list-img__img">
								</figure>
							</div>
						</div>
						<div class="offer-list-descr">
							<span class="offer-list-descr__inner">Сварочная проволока</span>
						</div>
						<a href="#" class="btn btn_radius btn-grad btn-offer">
							<span class="btn-offer__text">1234 р/м</span>
							<span class="btn-offer__more">СМОТРЕТЬ</span>
						</a>
					</div>
				</li>
				<li class="offer-list__item">
					<div class="offer-item">
						<div class="offer-list-img">
							<div class="offer-list-img__table">
								<figure class="offer-list-img__wrapper">
									<img src="img/offer4.jpg" alt="Offer picture" class="offer-list-img__img">
								</figure>
							</div>
						</div>
						<div class="offer-list-descr">
							<span class="offer-list-descr__inner">Колючая проволока</span>
						</div>
						<a href="#" class="btn btn_radius btn-grad btn-offer">
							<span class="btn-offer__text">1234 р/м</span>
							<span class="btn-offer__more">СМОТРЕТЬ</span>
						</a>
					</div>
				</li>
				<li class="offer-list__item">
					<div class="offer-item">
						<div class="offer-list-img">
							<div class="offer-list-img__table">
								<figure class="offer-list-img__wrapper">
									<img src="img/offer5.jpg" alt="Offer picture" class="offer-list-img__img">
								</figure>
							</div>
						</div>
						<div class="offer-list-descr">
							<span class="offer-list-descr__inner">Проволока ВР-1</span>
						</div>
						<a href="#" class="btn btn_radius btn-grad btn-offer">
							<span class="btn-offer__text">1234 р/м</span>
							<span class="btn-offer__more">СМОТРЕТЬ</span>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="production-block">
		<div class="wrapper clearfix">
			<div class="about-prod">
				<div class="title-block">
					<h2 class="title-block__title">О ПРОДУКЦИИ</h2>
					<span class="title-block__subtitle">преимущества продукции</span>
				</div>
				<div class="about-prod__descr">
					<p>Это пример текста о продукции, может быть использван как средство для продвижения сайта. Здесь лучше всего разместить текст о качестве и преимуществах продукции. </p>
					<p>Это пример текста о продукции, может быть использван как средство для продвижения сайта. Здесь лучше всего разместить текст о качестве и преимуществах продукции. </p>
					<p>Здесь лучше всего разместить текст о качестве и преимуществах продукции. </p>
					<a href="#" class="open-link open-link_prod">ПОДРОБНЕЕ</a>
					<figure class="product-pic-wrapper">
						<img src="img/product-pic.jpg" alt="Product pic" class="product-pic-wrapper__img">
					</figure>
				</div>
			</div>
			<div class="why-we">
				<div class="title-block">
					<h2 class="title-block__title">ПОЧЕМУ МЫ</h2>
					<span class="title-block__subtitle">преимущества работы с нами</span>
				</div>
				<ul class="why-list clearfix">
					<li class="why-list__item">
						<div class="why-list-title why-list-title_1">
							<img src="img/why1.png" alt="Why pic" class="why-list-title__img">
							<span class="why-list-title__text">Мы предлагаем оптовые закупки</span>
						</div>
						<p class="why-list__descr">Это пример текста, создан для примера текста о преимуществе</p>
					</li>
					<li class="why-list__item">
						<div class="why-list-title why-list-title_2">
							<img src="img/why2.png" alt="Why pic" class="why-list-title__img">
							<span class="why-list-title__text">Заказ товара онлайн</span>
						</div>
						<p class="why-list__descr">Это пример текста, создан для примера текста о преимуществе</p>
					</li>
					<li class="why-list__item">
						<div class="why-list-title why-list-title_3">
							<img src="img/why3.png" alt="Why pic" class="why-list-title__img">
							<span class="why-list-title__text why-list-title__text_3">Наши цены ниже заводских</span>
						</div>
						<p class="why-list__descr">Это пример текста, создан для примера текста о преимуществе</p>
					</li>
					<li class="why-list__item">
						<div class="why-list-title why-list-title_4">
							<img src="img/why4.png" alt="Why pic" class="why-list-title__img">
							<span class="why-list-title__text">Предоплата по факту изготовления</span>
						</div>
						<p class="why-list__descr">Это пример текста, создан для примера текста о преимуществе</p>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="where-block">
		<div class="wrapper">
			<div class="title-block title-block_white">
				<h2 class="title-block__title">ГДЕ ПРИМЕНЯЕТСЯ</h2>
				<span class="title-block__subtitle">наша продукция</span>
			</div>
			<div class="slider-block">
				<div class="owl-carousel slider-index">
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where1.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where2.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where3.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where4.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where5.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where1.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where2.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where3.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where4.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where5.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="questions">
		<div class="wrapper clearfix">
			<figure class="question-pic-wrapper">
				<img src="img/questions-pic.jpg" alt="Question picture" class="question-pic-wrapper__img">
			</figure>
			<div class="question-block">
				<div class="title-block title-block_question">
					<h2 class="title-block__title">У ВАС ЕСТЬ ВОПРОСЫ?</h2>
					<span class="title-block__subtitle">заполните форму ниже и наш менеджер оперативно на них ответит</span>
				</div>
				<form action="#" method="POST" class="questions-form">
					<div class="questions-form__top-block clearfix">
						<div class="form-col">
							<div class="box-field box-field_name">
								<input type="text" placeholder="Ваше Имя" class="box-field__input">
							</div>
						</div>
						<div class="form-col">
							<div class="box-field box-field_mail">
								<input type="text" placeholder="Ваш e-mail" class="box-field__input">
							</div>
						</div>
						<div class="form-col">
							<div class="box-field box-field_phone">
								<input type="text" placeholder="Ваш телефон" class="box-field__input">
							</div>
						</div>
					</div>
					<div class="questions-form__textarea">
						<div class="box-field">
							<textarea placeholder="Ваше сообщение" class="box-field__textarea"></textarea>
						</div>
					</div>
					<div class="questions-form__btn">
						<input type="submit" class="btn btn_radius btn-grad btn-send" value="ОТПРАВИТЬ">
					</div>
				</form>
			</div>
		</div>
	</div>
	
</main>

<!-- CONTENT EOF   -->


#=include 'footer/_footer.html'
