#=include 'header/_header.html'

<!-- BEGIN CONTENT -->

<main class="content">

	<div class="catalog">
		<div class="wrapper">
			<div class="catalog-inner clearfix">
				<div class="items-column">
					<ul class="items-list">
						<li class="items-list__item">
							<a href="#" class="items-list__link">
								<div class="catalog-pic catalog-pic_1">
									<figure class="catalog-pic__wrapper">
										<img src="img/catalog1.png" alt="Catalog picture" class="catalog-pic__img">
									</figure>
								</div>
								<div class="offer-list-descr offer-list-descr_catalog">
									<span class="offer-list-descr__inner">Проволока общего</span> <br>
									<span class="offer-list-descr__inner">назначения</span>
								</div>
							</a>
						</li>
						<li class="items-list__item">
							<a href="#" class="items-list__link">
								<div class="catalog-pic catalog-pic_2">
									<figure class="catalog-pic__wrapper">
										<img src="img/catalog2.png" alt="Catalog picture" class="catalog-pic__img">
									</figure>
								</div>
								<div class="offer-list-descr offer-list-descr_catalog">
									<span class="offer-list-descr__inner">Пружинная проволока</span>
								</div>
							</a>
						</li>
						<li class="items-list__item">
							<a href="#" class="items-list__link">
								<div class="catalog-pic catalog-pic_3">
									<figure class="catalog-pic__wrapper">
										<img src="img/catalog3.png" alt="Catalog picture" class="catalog-pic__img">
									</figure>
								</div>
								<div class="offer-list-descr offer-list-descr_catalog">
									<span class="offer-list-descr__inner">Сварочная проволока</span>
								</div>
							</a>
						</li>
						<li class="items-list__item">
							<a href="#" class="items-list__link">
								<div class="catalog-pic catalog-pic_4">
									<figure class="catalog-pic__wrapper">
										<img src="img/catalog4.png" alt="Catalog picture" class="catalog-pic__img">
									</figure>
								</div>
								<div class="offer-list-descr offer-list-descr_catalog">
									<span class="offer-list-descr__inner">Колючая проволока</span>
								</div>
							</a>
						</li>
						<li class="items-list__item">
							<a href="#" class="items-list__link">
								<div class="catalog-pic catalog-pic_5">
									<figure class="catalog-pic__wrapper">
										<img src="img/catalog5.png" alt="Catalog picture" class="catalog-pic__img">
									</figure>
								</div>
								<div class="offer-list-descr offer-list-descr_catalog">
									<span class="offer-list-descr__inner">Проволока ВР-1</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="items-content">
					<div class="items-content__top-line">
						<div class="item-large-pic">
							<img src="img/item-large.png" alt="Item preview" class="item-large-pic__img">
						</div>
						<div class="item-desrciption">
							<h2 class="item-desrciption__title">Пружинная проволока</h2>
							<p class="item-desrciption__subtitle">СТО 71915393- ТУ 080-2009</p>
							<h3 class="item-desrciption__title-small">Назначение</h3>
							<p>
								Применяется для изготовления пружин в мебельной 
								промышленности.
							</p>
							<p>
								За дополнительной информацией обращайтесь 
								к нашим менеджерам
							</p>
						</div>
					</div>
					<div class="items-content__table">
						<h3 class="item-desrciption__title-small">Механические свойства</h3>
						<table class="char-table">
							<tr class="char-table__row char-table__row_head">
								<th class="char-table__cell char-table__head">Диаметр, мм</th>
								<th class="char-table__cell char-table__head char-table__head_merged">Предельные отклонения по диаметру, мм</th>
								<th class="char-table__cell char-table__head">Временное сопротивление разрыву, Н/мм2 (кгс/мм2)</th>
								<th class="char-table__cell char-table__head">Максимальный разбег значений временного сопротивления разрыву в партии, Н/мм2 (кгс/мм2)</th>
								<th class="char-table__cell char-table__head char-table__head_merged">Минимальное количество скручиваний</th>
							</tr>
							<tr class="char-table__row">
								<td data-label="Диаметр, мм" class="char-table__cell">1.4</td>
								<td data-label="Предельные отклонения по диаметру, мм" class="char-table__cell char-table__cell_merged" rowspan="3">-0.04</td>
								<td data-label="Временное сопротивление разрыву, Н/мм2 (кгс/мм2)" class="char-table__cell">
									1570 – 1770 (160 – 180)
								</td>
								<td data-label="Максимальный разбег значений временного сопротивления разрыву в партии, Н/мм2 (кгс/мм2)" class="char-table__cell">200 (20)</td>
								<td data-label="Минимальное количество скручиваний" class="char-table__cell char-table__cell_merged" rowspan="3">32</td>
							</tr>
							<tr class="char-table__row">
								<td data-label="Диаметр, мм" class="char-table__cell">1.8</td>
								<td data-label="Временное сопротивление разрыву, Н/мм2 (кгс/мм2)" class="char-table__cell">
									<span class="char-table__class">1 класс</span> 1570 – 1670 (160 – 170)
								</td>
								<td data-label="Максимальный разбег значений временного сопротивления разрыву в партии, Н/мм2 (кгс/мм2)" class="char-table__cell">100 (20)</td>
							</tr>
							<tr class="char-table__row">
								<td data-label="Диаметр, мм" class="char-table__cell">2.2</td>
								<td data-label="Временное сопротивление разрыву, Н/мм2 (кгс/мм2)" class="char-table__cell">
									<span class="char-table__class">2 класс</span> 1570 – 1670 (160 – 170)
								</td>
								<td data-label="Максимальный разбег значений временного сопротивления разрыву в партии, Н/мм2 (кгс/мм2)" class="char-table__cell">200 (20)</td>
							</tr>
						</table>
						<table class="buy-table">
							<tr class="buy-table__row buy-table__row_head">
								<th class="buy-table__cell buy-table__head">Вид намотки</th>
								<th class="buy-table__cell buy-table__head">Диаметр, мм</th>
								<th class="buy-table__cell buy-table__head">Внутренний диаметр</th>
								<th class="buy-table__cell buy-table__head">Масса, кг</th>
								<th class="buy-table__cell buy-table__head">Цена</th>
								<th class="buy-table__cell buy-table__head">Кол-во тн</th>
								<th class="buy-table__cell buy-table__head">Заказать</th>
							</tr>
							<tr class="buy-table__row">
								<td data-label="Вид намотки" class="buy-table__cell">Мотки-розеты</td>
								<td data-label="Диаметр, мм" class="buy-table__cell">1,4-2,2</td>
								<td data-label="Внутренний диаметр" class="buy-table__cell">400-450</td>
								<td data-label="Масса, кг" class="buy-table__cell">До 800</td>
								<td data-label="Цена" class="buy-table__cell">
									<span class="buy-table__num">12 034</span> руб/тн
								</td>
								<td data-label="Кол-во тн" class="buy-table__cell">
									<input type="text" placeholder="10" class="buy-table__input">
								</td>
								<td data-label="Заказать" class="buy-table__cell">
									<a href="#" class="buy-table__btn btn btn_radius btn-grad btn-order">ЗАКАЗАТЬ</a>
								</td>
							</tr>
							<tr class="buy-table__row">
								<td data-label="Вид намотки" class="buy-table__cell">мотки</td>
								<td data-label="Диаметр, мм" class="buy-table__cell">мотки  </td>
								<td data-label="Внутренний диаметр" class="buy-table__cell">450</td>
								<td data-label="Масса, кг" class="buy-table__cell">100</td>
								<td data-label="Цена" class="buy-table__cell">
									<span class="buy-table__num">12 034</span> руб/тн
								</td>
								<td data-label="Кол-во тн" class="buy-table__cell">
									<input type="text" placeholder="10" class="buy-table__input">
								</td>
								<td data-label="Заказать" class="buy-table__cell">
									<a href="#" class="buy-table__btn btn btn_radius btn-grad btn-order">ЗАКАЗАТЬ</a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="where-block">
		<div class="wrapper">
			<div class="title-block title-block_white">
				<h2 class="title-block__title">ГДЕ ПРИМЕНЯЕТСЯ</h2>
				<span class="title-block__subtitle">наша продукция</span>
			</div>
			<div class="slider-block">
				<div class="owl-carousel slider-index">
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where1.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where2.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where3.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where4.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where5.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where1.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where2.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where3.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where4.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
					<div>
						<div class="slider-index__item">
							<figure class="slider-index__img-wrapper">
								<img src="img/where5.jpg" alt="Where pic" class="slider-index__img">
							</figure>
							<div class="slider-index-descr">
								<span class="slider-index-descr__text">Название сферы применения, может быть длинным</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</main>

<!-- CONTENT EOF   -->


#=include 'footer/_footer.html'
