
//main styles

body {
	 // display: flex;
	}

	.main-wrapper {
		padding: 0;
		min-width: $min-width;
		width: 100%;
		position: relative;
		min-height: 100vh;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction:column;
		-webkit-flex-direction:column;
		-ms-flex-direction: column;
		justify-content:flex-start;
		-webkit-justify-content:flex-start;
		-ms-flex-pack: start;


	// flex: 1 1 auto;
 //    display: flex;
 //    flex-flow: column nowrap;
 //    min-height: 100vh;
}

.wrapper {
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p {
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0;
	font-weight: 400;
}

h1 {
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0;
	font-weight: 400;
}

h2 {
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 15px 0;
	font-weight: 400;
}

h3 {
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
	min-width: $min-width;
	text-align:left;
	width: 100%;
	order: 2;
	-webkit-order: 2;
	flex-grow: 1;
	-webkit-flex-grow: 1;
}

// Offer block

.offer-block {
	background: url(../img/offer-bg.jpg) no-repeat top center;
	background-size: cover;
	padding: 35px 0;
	overflow: hidden;
}

.open-link {
	text-transform: uppercase;
	font-weight: 700;
	color: #004991;
	line-height: 1;
	border-bottom: 1px solid #004991;
	position: relative;
	display: inline-block;

	&:after {
		content: '';
		display: block;
		width: 12px;
		height: 12px;
		background: url(../img/icon-open.png) no-repeat center center;
		position: absolute;
		top: 50%;
		right: -27px;
		transform: translate(0, -50%);
		background-size: cover;
	}

	&:hover {
		border-bottom-color: transparent;
	}

	&_offer {
		float: right;
		margin-top: 12px;
		margin-right: 43px;
		font-size: 16px;
		padding-bottom: 3px;
	}

	&_prod {
		font-size: 13px;

		&:after {
			width: 10px;
			height: 10px;
			right: -21px;
		}
	}
}

.title-block {

	&_white {
		text-align: center;

		.title-block__title {
			color: #fff;
		}

		.title-block__subtitle {
			color: #fff;
		}
	}

	&__offer {
		float: left;
		position: relative;
		padding-left: 25px;

		&:before {
			content: '';
			display: block;
			width: 26px;
			height: 26px;
			border-right: 1px solid #fff;
			border-bottom: 1px solid #fff;
			position: absolute;
			top: 50%;
			left: -14px;
			transform: translate(0, -50%) rotate(-45deg);
		}
	}

	&__title {
		text-transform: uppercase;
		color: #004991;
		font-weight: 700;
		font-size: 26.5px;
		line-height: 1;
		padding: 0;
	}

	&__subtitle {
		display: block;
		color: #4c4c4c;
		font-size: 16px;
		line-height: 1.2;
	}
}

.offer-list-wrapper {
	margin: 21px auto 0;
	max-width: 1155px;
	width: 100%;
}

.offer-list {
	list-style: none;
	text-align: center;

	&__item {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		max-width: 233px;
		position: relative;
		text-align: center;
		padding-bottom: 12px;
		background: url(../img/offer-item-bg.png) no-repeat center center;
		background-size: cover;
		padding: 15px 13px 45px;
		margin: 0 -4px;
	}
}

.offer-item {
	max-width: 205px;
	width: 100%;
	position: relative;

	&:before,
	&:after {
		display: block;
		position: absolute;
		top: -3px;
		left: 0;
		content: '';
		height: 3px;
		width: 100%;
	}

	&:before {
		background: repeating-linear-gradient(-45deg, #1f1a1c,#1f1a1c 8px,#fdd019 8px,#fdd019 16px);
	}

	&:after {
		background: linear-gradient(to right, rgba(255,255,255,.8) 0%,rgba(255,255,255,.35) 30%,rgba(255,255,255,0) 30%);
	}
}

.offer-list-img {
	height: 130px;
	position: relative;

	&__table {
		position: absolute;
		width: 100%;
		height: 100%;
		display: table;
	}

	&__row {
		display: table-row;
	}

	&__wrapper {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	&__img {
		display: inline-block;
		position: relative;
	}
}

.offer-list-descr {
	color: #004991;
	font-size: 16px;
	display: block;
	text-decoration: underline;
	line-height: 1.32;
	position: relative;
	margin-bottom: 11px;
	height: 53px;
	text-align: center;

	&:before {
		content: '';
		width: 62px;
		height: 2px;
		background: #ff8433;
		display: block;
		margin: 0 auto 3px;
	}

	&_catalog {
		height: auto;
		text-decoration: none;
		margin-bottom: 0;
		padding-bottom: 18px;

		&:before {
			margin-bottom: 8px;
		}

		.offer-list-descr__inner {
			display: inline-block;
			top: auto;
			left: auto;
			transform: translate(0, 0);
			border-bottom: 1px solid #004991;
			max-width: 100%;
			width: auto;
			line-height: 1;
			transition: all .2s;
			box-shadow: 0 0 0 0 rgba(0, 0, 0, .3);
		}
	}

	&__inner {
		display: block;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 135px;
		width: 100%;
	}
}

// Production

.production-block {
	background: url(../img/product-bg.jpg) no-repeat center center;
	background-size: cover;
}

.about-prod {
	float: left;
	width: 61.3%;
	padding: 33px 0 50px 25px;
	
	&__descr {
		padding: 16px 240px 15px 0;
		position: relative;
	}

	p {
		font-size: 16px;
		color: #333;
		padding: 0;
		margin: 20px 0;
		line-height: 1.32;
		position: relative;
		z-index: 1;
	}
}

.product-pic-wrapper {
	position: absolute;
	top: 0;
	right: 0;

	&__img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.why-we {
	padding-top: 33px;
	float: left;
	width: 38.7%;
}

.why-list {
	list-style: none;
	margin-top: 28px;

	&__item {
		width: 50%;
		float: left;
		margin-bottom: 34px;
		
		&:nth-child(even) {
			.why-list__descr {
				padding-left: 10px;
			}
		}
	}

	&__descr {
		color: #333;
		font-size: 14.5px;
		padding: 0;
		margin: 5px 0 0;
		line-height: 1.32;
	}
}

.why-list-title {
	position: relative;

	&_1 {
		.why-list-title__img {
			left: -7px;
		}
	}

	&_2 {
		.why-list-title__img {
			left: 14px;
		}
		.why-list-title__text {
			padding-left: 88px;
		}
	}

	&_3 {
		.why-list-title__img {
			top: 10px;
		}
	}

	&_4 {
		.why-list-title__img {
			top: -6px;
			left: 4px;
		}
		.why-list-title__text {
			padding-left: 88px;
		}
	}

	&:hover {
		.why-list-title__img {
			animation: shake 1000ms linear 100ms 1;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__text {
		padding: 23px 0 10px 75px;
		display: block;
		font-size: 14.5px;
		color: #004991;
		font-weight: 700;
		line-height: 1.32;
	}
}

@keyframes shake {
	0% {
		transform: rotate(0deg)
	}
	16% {
		transform: rotate(-30deg)
	}
	32% {
		transform: rotate(30deg)
	}
	48% {
		transform: rotate(-30deg)
	}
	64% {
		transform: rotate(30deg)
	}
	80% {
		transform: rotate(-30deg)
	}
	96% {
		transform: rotate(30deg)
	}
	100% {
		transform: rotate(0deg)
	}
}


// Where use

.where-block {
	background: url(../img/where-bg.jpg) no-repeat center center;
	padding: 27px 0 32px;
	overflow: hidden;
	background-size: cover;
}

.slider-block {
	margin-top: 13px;
	margin-left: -8px;
	margin-right: -8px;
}

.owl-carousel .owl-item {

	& > div {
		padding: 8px;
	}
}

.slider-index {

	&__item {
		background: #fff;
		box-shadow: 0 0 8px 1px rgba(#000, .6);
		padding-bottom: 2px;
	}
}

.slider-index-descr {
	background: #fff;
	text-align: center;
	position: relative;

	&:after{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background: inherit;
		top: -16px;
		left: 0;
		transform: skewY(-6deg);
	}

	&__text {
		color: #004991;
		font-size: 13px;
		line-height: 1.2;
		position: relative;
		background: #fff;
		z-index: 2;
		display: block;
		padding: 0 20px 9px;
		position: relative;

		&:before,
		&:after {
			display: block;
			position: absolute;
			bottom: -2px;
			left: 0;
			content: '';
			height: 2px;
			width: 100%;
		}

		&:before {
			background: repeating-linear-gradient(-45deg, #1f1a1c,#1f1a1c 8px,#fdd019 8px,#fdd019 16px);
		}

		&:after {
			background: linear-gradient(to right, rgba(255,255,255,.7) 0%,rgba(255,255,255,0) 45%,rgba(255,255,255,0) 45%);
		}
	}
}

.owl-carousel.owl-loaded {
	cursor: all-scroll;
}

.slider-block {

	.owl-nav {
		position: absolute;
		max-width: 336px;
		width: 100%;
		top: -49px;
		left: 50%;
		transform: translate(-50%, 0);
		height: 28px;

		.owl-prev,
		.owl-next {
			width: 28px;
			height: 28px;
			border: 3px solid #fff;
			border-radius: 50%;
			position: absolute;
			top: 0;
			transition: all .2s;

			&:hover {
				border-color: #ffbf00;
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
				width: 0;
				height: 0;
				border: 5px solid transparent;
			}
		}

		.owl-prev {
			left: 0;

			&:before {
				left: 1px;
				border-right: 8px solid #ffbf00;
			}
		}

		.owl-next {
			right: 0;

			&:before {
				left: 8px;
				border-left: 8px solid #ffbf00;
			}
		}
	}
}

// Questions block

.questions {
	background: url(../img/questions-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 29px 0 28px;
}

.title-block {

	&_question {
		padding-left: 25px;
	}
}

.question-block {
	float: right;
	width: 63.5%;
	position: relative;
	z-index: 2;
}

.question-pic-wrapper {
	position: absolute;
	top: 17px;
	left: -13px;
	width: 516px;
	height: 401px;

	&__img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.questions-form {
	padding: 33px 13px 14px;
	margin-top: 36px;
	background: rgba(#356ea6, .8);
	border-radius: 0 0 5px 5px;
	position: relative;

	&:before,
	&:after {
		display: block;
		position: absolute;
		top: -3px;
		left: 0;
		content: '';
		height: 3px;
		width: 100%;
	}

	&:before {
		background: repeating-linear-gradient(-45deg, #1f1a1c,#1f1a1c 10px,#fdd019 10px,#fdd019 20px);
	}

	&:after {
		background: linear-gradient(to right, rgba(255,255,255,.7) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 30%);
	}

	&__textarea{
		padding: 0 13px;
		margin: 23px 0 18px;
	}

	&__btn {
		text-align: center;
	}
}

.form-col {
	width: 33.3333%;
	float: left;
	padding: 0 13px;
}

.box-field {
	position: relative;

	&:after {
		content: '';
		display: block;
		position: absolute;
		background-repeat: no-repeat;
		background-position: center center;
		top: 50%;
		transform: translate(0, -50%);
	}

	&_name {
		
		&:after {
			width: 19px;
			height: 23px;
			left: 6px;
			background-image: url(../img/icon-user.png);
		}

		.box-field__input {
			padding-left: 27px;
		}
	}

	&_mail {
		
		&:after {
			width: 20px;
			height: 15px;
			left: 8px;
			background-image: url(../img/icon-mail.png);
		}

		.box-field__input {
			padding-left: 32px;
		}
	}

	&_phone {

		&:after {
			width: 10px;
			height: 25px;
			left: 10px;
			background-image: url(../img/icon-phone.png);
		}

		.box-field__input {
			padding-left: 25px;
		}
	}

	&__input {
		display: block;
		width: 100%;
		border-radius: 4px;
		border: 1px solid #5384b5;
		height: 39px;
		color: #4c4c4c;
		font-size: 15px;
		padding-right: 10px;
		box-shadow: 1px 1px 2px 0 rgba(#5284b5, .5) inset;

		@include placeholder {
			color: #4c4c4c;
			opacity: 1;
		}
	}

	&__textarea {
		width: 100%;
		border: 1px solid #5384b5;
		box-shadow: 1px 1px 2px 0 rgba(#5284b5, .5) inset;
		border-radius: 4px;
		font-size: 15px;
		line-height: 1.32;
		resize: none;
		padding: 10px 9px;
		height: 100px;

		@include placeholder {
			color: #4c4c4c;
			opacity: 1;
		}
	}
}


// Catalog

.catalog {
	background: url(../img/catalog-bg.png) no-repeat top left,
	linear-gradient(to bottom, rgba(238,247,255,1) 0%,rgba(255,255,255,1) 185px,rgba(255,255,255,1) 100%);
	padding: 29px 0 36px;
	overflow: hidden;
}

.catalog-inner {
	margin-left: -13px;
	margin-right: -13px;
}

.items-column {
	float: left;
}

.items-list {
	list-style: none;
	background: url(../img/items-list-bg.png) no-repeat top center;
	width: 230px;
	padding: 13px 14px 45px 12px;
	position: relative;

	&:before,
	&:after {
		display: block;
		position: absolute;
		top: 12px;
		left: 12px;
		right: 14px;
		content: '';
		height: 3px;
		width: auto;
		z-index: 2;
	}

	&:before {
		background: repeating-linear-gradient(-45deg, #1f1a1c,#1f1a1c 10px,#fdd019 10px,#fdd019 20px);
	}

	&:after {
		background: linear-gradient(to right, rgba(255,255,255,.7) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 30%);
	}

	&__item {
		border-bottom: 1px solid #dbdcdd;

		&:last-child {
			border-bottom: none;
		}
	}

	&__link {
		display: block;

		&:hover {
			background: #e8eff5;
		}
	}
}

.catalog-pic {
	position: relative;

	&_1 {
		height: 77px;
	}

	&_2 {
		height: 90px;
	}

	&_3 {
		height: 96px;
	}

	&_4 {
		height: 100px;
	}

	&_5 {
		height: 92px;
	}

	&__wrapper {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__img {
		display: block;
		margin: 0 auto;
	}
}

.items-content {
	margin-left: 230px;
	padding-right: 13px;

	&__top-line {
		overflow: hidden;
	}

	&__table {
		padding-left: 11px;
		margin-top: 17px;
	}
}

.item-large-pic {
	background: url(../img/item-large-bg.png) no-repeat top center;
	background-size: contain;
	width: 50.4%;
	padding: 38px 13px 75px;
	position: relative;
	float: left;

	&:before {
		display: block;
		position: absolute;
		top: 3.5%;
		left: 2.9%;
		right: 2.9%;
		content: '';
		height: 3px;
	}

	&:before {
		background: repeating-linear-gradient(-45deg, #1f1a1c,#1f1a1c 8px,#fdd019 8px,#fdd019 16px);
	}

	&__img {
		display: block;
		max-width: 420px;
		width: 100%;
		height: auto;
	}
}

.item-desrciption {
	float: left;
	width: 49.6%;
	padding-top: 8px;
	padding-left: 14px;

	&__title {
		color: #004991;
		font-weight: 700;
		padding: 0;
		margin: 0;
		font-size: 26px;
		line-height: 1.32;
	}

	&__subtitle {
		font-size: 18.5px;
		color: #4c4c4c;
		padding: 0;
		margin: 0 0 28px;
		line-height: 1.32;
	}

	&__title-small {
		font-size: 18px;
		color: #004991;
		padding: 0;
		margin: 0;
		line-height: 1.32;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, .3);
	}

	p {
		line-height: 20px;
		font-size: 16px;
		color: #333;
		margin: 12px 0 42px;
		padding: 0;
	}
}

.char-table {
	width: 100%;
	border-bottom: 2px solid #edf6ff;
	margin-top: 25px;

	&__row {

		&:nth-child(odd) {
			background: #e6f3ff;
		}

		&_head {
			&:nth-child(odd) {
				background: #a3d4ff;
			}
		}
	}

	&__cell {
		font-size: 13px;
		color: #333;
		height: 50px;
		padding: 0 10px;
		overflow: hidden;
		line-height: 1.32;

		&_merged {
			background: #e6f3ff;
			padding-left: 20px;
			border-left: 1px solid #f6fbff;
			border-right: 1px solid #f6fbff;
		}
	}

	&__head {
		background: #a3d4ff;
		padding-top: 14px;
		padding-bottom: 16px;
		font-weight: 400;
		height: auto;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, .3);

		&_merged {
			padding-left: 20px;
		}

		&:nth-child(1) {
			width: 13.34%;
		}
		&:nth-child(2) {
			width: 23.32%;
		}
		&:nth-child(3) {
			width: 21.86%;
		}
		&:nth-child(4) {
			width: 27.46%;
		}
		&:nth-child(5) {
			width: 14.02%;
		}
	}

	&__class {
		width: 70px;
		float: left;
		display: block;
		height: 30px;
		padding: 8px 0;
	}
}

.buy-table {
	width: 100%;
	margin-top: 12px;

	&__row {
		&:nth-child(odd) {
			background: #e6f3ff;
		}

		&_head {
			background: #a3d4ff;
			&:nth-child(odd) {
				background: #a3d4ff;
			}
		}
	}

	&__head {
		font-weight: 400;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, .3);
	}

	&__cell {
		height: 45px;
		padding: 0 0 0 12px;
		font-size: 13px;
		line-height: 1.32;
		color: #333;
	}

	&__input {
		display: block;
		max-width: 78px;
		width: 100%;
		border-radius: 4px;
		border: 1px solid #bcbcbc;
		font-size: 12.5px;
		line-height: 1.32;
		color: #4c4c4c;
		height: 29px;
		padding: 0 9px;

		@include placeholder {
			color: #4c4c4c;
			opacity: 1;
		}
	}

	&__num {
		color: #e66c1c;
		font-weight: 700;
		font-size: 22px;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body {
		min-height: 100hv;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 1140px) {
	.about-prod {
		padding-left: 0;
		width: 52%;
	}

	.why-we {
		width: 48%;
	}

	.why-list-title {
		&__text {
			max-width: 218px;
		}
	}
}

@media screen and (max-width: 940px) {
	.production-block {
		background: #fff;
	}

	.about-prod {
		width: 100%;
	}

	.why-we {
		width: 100%;
		padding-top: 0;
	}

	.why-list {

		&__descr {
			margin-top: 20px;
		}
	}

	.items-list {
		margin-top: -2px;
	}
}

@media screen and (max-width: 850px) {
	.question-pic-wrapper {
		display: none;
	}

	.question-block {
		width: 100%;
	}

	.title-block {

		&_question {
			padding-left: 0;
		}
	}

	.catalog {
		padding-top: 15px;
	}

	.items-list {
		margin-top: 0;
	}

	.items-content {

		&__top-line{
			overflow: visible;
		}
	}

	.item-large-pic {
		padding: 20px 0;
		width: 100%;
		background: #fff;
		box-shadow: 0 0 20px 0 rgba(#abbed1, 1);
		margin: 12px 0 20px;

		&:before {
			top: 0;
			left: 0;
			right: 0;
		}

		&__img {
			margin: 0 auto;
		}
	}

	.item-desrciption {
		width: 100%;
		float: none;
	}

	.char-table {
		border: 1px solid #e6f3ff;

		&__row {
			display: block;
		}

		&__cell {
			display: block;
			width: 100%;
			overflow: hidden;
			height: auto;
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: left;

			&:before {
				content: attr(data-label);
				float: left;
				width: 60%;
				font-weight: 700;
				padding: 0 10px 0 0;
			}

			&_merged {
				padding-left: 10px;
				background: #fff;
				border-left: none;
				border-right: none;
			}
		}

		&__head {
			display: none;
		}

		&__class {
			width: 60px;
			padding: 0;
			height: auto;
		}
	}

	.buy-table {
		border: 1px solid #e6f3ff;

		&__row {
			display: block;
		}

		&__cell {
			display: block;
			width: 100%;
			overflow: hidden;
			height: auto;
			padding-top: 10px;
			padding-bottom: 10px;

			&:before {
				content: attr(data-label);
				float: left;
				width: 60%;
				font-weight: 700;
				padding: 0 10px 0 0;
			}
		}

		&__head {
			display: none;
		}
	}
}

@media screen and (max-width: 560px) {
	.title-block {

		&__offer {
			padding-left: 0;

			&:before {
				display: none;
			}
		}
	}

	.about-prod {

		&__descr {
			padding: 10px 0;
		}
	}

	.product-pic-wrapper {
		display: none;
	}

	.form-col {
		width: 100%;
		float: none;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.questions-form {

		&__textarea {
			margin: 20px 0;
		}
	}
	
	.catalog-inner {
		margin-left: 0;
		margin-right: 0;
	}

	.items-column {
		float: none;
	}

	.items-list {
		width: 100%;
		background: #fff;
		box-shadow: 0 0 20px 0 rgba(#abbed1, 1);
		margin: 12px 0 20px;
		padding: 0;

		&:before,
		&:after {
			top: 0;
			left: 0;
			right: 0;
		}
	}

	.items-content {
		margin-left: 0;
		padding-right: 0;
	}

	.item-desrciption {
		padding-left: 0;
	}

	.items-content {

		&__table {
			padding-left: 0;
		}
	}
}

@media screen and (max-width: 480px) {
	.why-list {

		&__item {
			width: 100%;

			.why-list__descr {
				margin-top: 10px;
			}

			&:nth-child(even) {
				.why-list__descr {
					padding-left: 0;
				}
			}
		}
	}

	.why-list-title {

		&__text {
			max-width: 100%;
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}

	.title-block {

		&__offer {
			float: none;
		}
	}

	.open-link {

		&_offer {
			float: none;
		}
	}

	.slider-index-descr {
		padding: 10px 0 0;

		&:after {
			top: -20px;
		}

		&__text {
			padding-bottom: 15px;
		}
	}
}
