
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer {
	text-align: left;
	width: 100%;
	min-width: $min-width;
	order: 3;
	-webkit-order: 3;
	background: linear-gradient(to right, rgba(255,132,51,1) 0%,rgba(252,155,49,1) 45%,rgba(255,132,51,1) 100%);
	padding: 15px 0;
	position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 5px;
		background: rgba(#fff, .2);
	}
}

.footer-col {
	float: left;
	border-right: 1px solid #ffae79;

	&:last-child {
		border-right: none;
	}
}

.copyright-block {
	padding-left: 25px;
	width: 18.3%;
	padding-top: 2px;

	&__text {
		color: #fff;
		display: block;
		font-size: 13px;
		line-height: 17.3px;
		margin-bottom: 16px;
	}
}

.links-block {
	padding-left: 22px;
	width: 44.82%;
}

.links-footer-list {
	display: inline-block;
	vertical-align: top;
	list-style: none;

	&__link {
		color: #191919;
		font-size: 14.5px;
		line-height: 1.5;
		text-decoration: underline;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

.phone-footer-block {
	display: inline-block;
	vertical-align: top;
	margin-top: 18px;

	&__text {
		color: #fff;
		display: block;
		font-size: 13px;
		line-height: 1.1;
		padding-left: 25px;
	}

	&__tel {
		color: #fff;
		display: block;
		font-size: 30px;
		font-weight: 700;
		line-height: 1.3;
		padding-left: 20px;
	}
}

.contacts-block {
	padding: 29px 0 35px 28px;
	width: 16.5%;

	&__skype {
		display: block;
		color: #000;
		font-size: 14.5px;
		line-height: 1.32;
		position: relative;
		padding-left: 22px;
		margin-bottom: 5px;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 4px;
			left: 3px;
			background: url(../img/icon-skype.png) no-repeat center center;
			width: 13px;
			height: 15px;
		}
	}

	&__mail {
		display: block;
		color: #000;
		font-size: 14.5px;
		line-height: 1.32;
		position: relative;
		padding-left: 22px;
		text-decoration: underline;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 5px;
			left: 2px;
			background: url(../img/icon-mail-footer.png) no-repeat center center;
			width: 14px;
			height: 11px;
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

.logo-block {
	padding: 35px 0 0 46px;
}

.logo-footer {
	display: block;
	width: 100%;
	max-width: 155px;

	&__img {
		display: block;
		width: 100%;
		height: auto;
	}
}





@media screen and (max-width: 1140px) {

	.phone-footer-block {

		&__tel {
			font-size: 22px;
			padding-left: 10px;
		}
	}

	.links-block {
		padding-left: 15px;
	}

	.contacts-block {
		padding-left: 15px;
	}

	.logo-block {
		padding-left: 15px;
	}
}

@media screen and (max-width: 940px) {
	.footer-col {
		border-right: none;
	}

	.copyright-block,
	.links-block,
	.contacts-block,
	.logo-block {
		width: 25%;
		padding: 0 0 0 10px;
	}

	.links-footer-list {
		display: block;
	}

	.phone-footer-block {
		display: block;
		margin-top: 10px;

		&__text,
		&__tel {
			padding-left: 0;
		}

		&__tel {
			font-size: 18px;
		}
	}
}

@media screen and (max-width: 700px) {
	.copyright-block,
	.links-block,
	.contacts-block,
	.logo-block {
		width: 50%;
		padding-left: 0;
	}

	.links-footer-list {

		&__item {
			margin-bottom: 8px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__link {
			line-height: 1.2;
		}
	}

	.copyright-block,
	.links-block {
		margin-bottom: 20px;
	}
}