
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header {
	width: 100%;
	min-width: $min-width;
	text-align: left;
	order: 1;
	-webkit-order: 1;
	background: #fff;
	position: relative;
	background: url(../img/header-bg.jpg) no-repeat center center;
	background-size: cover;
	padding-top: 31px;
}

.header-logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 2;
}

.logo {
	width: 254px;
	height: 178px;
	display: block;
	background: url(../img/logo-bg.png) no-repeat center center;

	&__text {
		color: #333;
		font-size: 11.5px;
		line-height: 1.32;
		display: block;
		position: absolute;
		bottom: 26px;
		left: 50%;
		transform: translate(-50%, 0);

		&:before,
		&:after {
			content: '';
			display: block;
			width: 32px;
			height: 1px;
			background: #333;
			position: absolute;
			top: 50%;
		}

		&:before {
			left: -42px;
		}

		&:after {
			right: -42px;
		}
	}
}

.nav-list {
	list-style: none;
	background: rgba(#004991, .8);
	border-top: 5px solid rgba(#fff, .3);
	border-bottom: 5px solid rgba(#fff, .3);
	clip-path: polygon(1.5% 0, 100% 0, 100% 75%, 98.5% 100%, 0 100%, 0 25%);

	&__item {
		float: left;
		width: 20%;
		text-align: center;
		position: relative;

		&:nth-child(2) {
			margin-right: 20%;

			&:before {
				content: '';
				position: absolute;
				width: 1px;
				height: 38px;
				background: rgba(#fff, .3);
				top: 50%;
				left: -9px;
				transform: translate(0, -50%) rotate(19deg);
			}
		}

		&:nth-child(4) {
			&:before {
				content: '';
				position: absolute;
				width: 1px;
				height: 38px;
				background: rgba(#fff, .3);
				top: 50%;
				left: 6px;
				transform: translate(0, -50%) rotate(19deg);
			}
		}

	}

	&__link {
		display: inline-block;
		text-transform: uppercase;
		color: #fff;
		font-size: 13px;
		font-weight: 700;
		line-height: 57px;
	}
}

.header-bottom {
	margin-top: 320px;
	padding-top: 15px;
	padding-bottom: 7px;

	&__block {
		float: right;
	}
}

.cart {
	position: relative;
	padding-left: 98px;
	border-left: 1px dashed #cdcdcd;
	margin-top: 30px;
	margin-right: 45px;

	&:before {
		content: '';
		display: block;
		width: 72px;
		height: 56px;
		background: url(../img/car.jpg) no-repeat center center;
		position: absolute;
		top: 5px;
		left: 17px;
	}
}

.cart-text {
	display: block;
	font-size: 14.5px;
	color: #4c4c4c;
	line-height: 20px;

	&__num {
		font-weight: 700;
		color: #004991;
	}

	&__link {
		display: inline-block;
		text-transform: uppercase;
		font-weight: 700;
		color: #e66c1c;
		line-height: 20px;
		position: relative;

		&:after {
			content: '';
			display: block;
			width: 10px;
			height: 10px;
			background: url(../img/icon-open.png) no-repeat center center;
			background-size: cover;
			position: absolute;
			top: 4px;
			right: -16px;
		}
	}
}

.call {
	text-align: center;
	position: relative;
	padding-left: 48px;
	margin-top: 3px;
	margin-right: 36px;

	&:before {
		content: '';
		display: block;
		width: 37px;
		height: 65px;
		background: url(../img/pic-phone.png) no-repeat center center;
		position: absolute;
		left: 0;
		top: 0;
	}
	
	&__phone-num {
		color: #004991;
		display: block;
		font-weight: 700;
		font-size: 30px;
		line-height: 1.32;
		margin-bottom: 4px;
	}
}


.wholesale {
	position: relative;
	margin-right: 46px;
	margin-top: 10px;

	&:after {
		content: '';
		display: block;
		width: 23px;
		height: 23px;
		border-right: 1px solid #105099;
		border-bottom: 1px solid #105099;
		position: absolute;
		top: 50%;
		right: -29px;
		transform: translate(0, -50%) rotate(-45deg);
	}

	&__title {
		text-transform: uppercase;
		display: block;
		font-size: 34.5px;
		line-height: 1;
		color: #e66c1c;
		font-weight: 700;
	}

	&__text {
		text-transform: uppercase;
		display: block;
		color: #333;
		font-size: 17px;
		line-height: 1.2;
	}
}


@media screen and (max-width: 1400px) {
	.header-bottom {
		margin-top: 450px;
	}
}

@media screen and (min-width: 1401px) and (max-width: 1920px) {
	.header-bottom {
		margin-top: 530px;
	}
}

@media screen and (max-width: 970px) {
	.wholesale {

		&__title {
			font-size: 28px;
		}

		&__text {
			font-size: 14px;
		}
	}

	.call {
		margin-right: 20px;

		&__phone-num {
			font-size: 28px;
		}
	}

	.cart {
		margin-top: 10px;
		margin-right: 20px;
	}
}

@media screen and (max-width: 880px) {
	.btn-mobile {
		display: block;
		z-index: 5;
	}

	.main-nav {
		background: rgba(#004991, .9);
		padding: 8px 0;
		position: relative;
	}

	.nav-list {
		background: rgba(#004991, .9);
		clip-path: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 50%;
		z-index: 5;
		display: none;

		&__item {
			float: none;
			width: 100%;
			text-align: left;

			&:nth-child(2),
			&:nth-child(4) {

				&:before {
					display: none;
				}
			}
		}

		&__link {
			line-height: 40px;
			padding: 0 8px;
		}
	}
}

@media screen and (max-width: 850px) {
	.wholesale {
		display: none;
	}
}

@media screen and (max-width: 540px) {
	.call {
		padding-left: 0;

		&:before {
			display: none;
		}
	}
}

@media screen and (max-width: 500px) {
	.nav-list {
		width: 100%;
	}

	.call {
		margin-right: 12px;
		margin-top: 0;

		&__phone-num {
			font-size: 22px;
		}
	}

	.cart {
		margin-right: 0;
		padding-left: 12px;

		&:before {
			display: none;
		}
	}
}
