		<!-- BEGIN FOOTER -->

		<footer class="footer">
			<div class="wrapper clearfix">
				<div class="footer-col copyright-block">
					<span class="copyright-block__text">Сopyright 2016</span>
					<span class="copyright-block__text">
						Оптовая торговля <br>
						проволокой различного <br>
						назначения
					</span>
				</div>
				<div class="footer-col links-block">
					<ul class="links-footer-list">
						<li class="links-footer-list__item">
							<a href="#" class="links-footer-list__link">Проволока общего назначения</a>
						</li>
						<li class="links-footer-list__item">
							<a href="#" class="links-footer-list__link">Пружинная проволока</a>
						</li>
						<li class="links-footer-list__item">
							<a href="#" class="links-footer-list__link">Сварочная проволока</a>
						</li>
						<li class="links-footer-list__item">
							<a href="#" class="links-footer-list__link">Колючая проволока</a>
						</li>
						<li class="links-footer-list__item">
							<a href="#" class="links-footer-list__link">Проволока ВР-1</a>
						</li>
					</ul>
					<div class="phone-footer-block">
						<span class="phone-footer-block__text">телефон:</span>
						<a href="tel:+71231234567" class="phone-footer-block__tel">+7(123) 123 45 67</a>
					</div>
				</div>
				<div class="footer-col contacts-block">
					<a href="#" class="contacts-block__skype">skypename</a>
					<a href="#" class="contacts-block__mail">mail@mail.com</a>
				</div>
				<div class="footer-col logo-block">
					<a href="#" class="logo-footer">
						<img src="img/logo-footer.png" alt="Logo footer" class="logo-footer__img">
					</a>
				</div>
			</div>
		</footer>

		<!-- FOOTER EOF   -->

	</div>

	<div class="icon-load"></div>

	<!-- BODY EOF   -->

	<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js" ></script>
	<script type="text/javascript" src="js/components/owl.carousel.min.js" ></script>

	<script type="text/javascript" src="js/custom.js" ></script>

</body>
</html>