.btn {
	display: inline-block;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;

	&_radius {
		border-radius: 5px;
	}
}

.btn-grad {
	color: #fff;
	font-weight: 700;
	text-shadow: 1px 1px 0 #e66c1c;
	background: linear-gradient(to right, #ff8833 0%,#fba230 45%,#ff8533 100%);
	height: 36px;
	line-height: 34px;
	text-align: center;
	border-bottom: 3px solid #e66c1c;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);

	&:hover {
		opacity: .8;
		transition: all .2s;
	}
}

.btn-call {
	width: 138px;
	font-size: 13.5px;
}

.btn-offer {
	font-size: 12px;
	width: 155px;
	position: relative;
	text-align: left;

	&__text {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background: #f18427;
		border-radius: 5px 0 0 5px;
		width: 68px;
		text-align: center;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: -24px;
			border: 17px solid transparent;
			border-left: 7px solid #f18427;
			width: 0;
			height: 0;
		}
	}

	&__more {
		margin-left: 82px;
	}
}

.btn-send {
	width: 140px;
	font-size: 13.5px;
	height: 42px;
	line-height: 40px;
}

.btn-order {
	width: 98px;
	font-size: 12px;
}

.btn-mobile {
	width: 30px;
	height: 30px;
	position: relative;
	display: none;
	margin: 0 8px;

	&_active {

		.btn-mobile__line {
			background-color: transparent;

			&:before {
				top: 0;
				transform: rotate(-45deg);
			}

			&:after {
				top: 0;
				transform: rotate(45deg);
			}
		}
	}

	&__line {
		width: 100%;
		height: 4px;
		background: #fff;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);

		&:before,
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 4px;
			background: #fff;
			position: absolute;
		}

		&:before{
			left: 0;
			top: -11px;
		}

		&:after{
			right: 0;
			bottom: -11px;
		}
	}
}